.wrapper{
    background:#e0e0e0;
}


.google-map{
    height: 45vh;
    padding: 1px;
    
    margin: 0;
}

.google-map iframe{
    height: 100%;
    width: 100%;
}

.device-table{
    background: white;
   padding: 0px;
   
}

.device-title{
    margin: 1px;
    padding: 20px 10px 0px; 
    vertical-align: middle;
}

.status{
    display: inline-block;
    width: 20px;
    height: 20px;   
}

.variable-icon{
    font-size: 23px;
}

.variable-icon:hover{
    cursor: pointer;
    color: #4285F4;
}

.navbar-color{
    background: #7386D5;
    color:white;
}

.alert{
    display: none;
}

